*{
   margin: 0;
   padding: 0;
   font-family: 'Times New Roman', Times, serif;
   font-weight: bold;
   font-size: 30px;
}
.visor{
    height: 40px;
    width: 223px;
     background-color:#CECEF6 ;
}
.botton{
    width: 55px;
    padding: 10px;
    background:linear-gradient(#BF00FF,#4000FF,#01DF3A,#FFFF00,#FF8000,#FE2E2E,brown,black);
}
.calculadora{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

